<div class="container">
  <div id="admin-wrapper">
    <nav id="admin-nav">
      <ul>
        <li><a routerLink="/admin/notifications" i18n="@@admin.notifications">Notifications</a></li>
        <li><a routerLink="/admin/settings" i18n="@@admin.settings">Settings</a></li>
        <li><a routerLink="/admin/subforums" i18n="@@admin.subforums">Subforums</a></li>
        <li><a routerLink="/admin/topic-commander" i18n="@@admin.topicCommander">Topic Commander</a></li>
        <li><a routerLink="/admin/users" i18n="@@admin.users">Users</a></li>
        <li><a routerLink="/admin/create-user" i18n="@@admin.createUser">Create User</a></li>
        <li><a routerLink="/admin/character-template" i18n="@@admin.charactertemplates">Character Template</a></li>
        <li><a routerLink="/admin/character-profile-template" i18n="@@admin.characterprofiletemplates">Character Profile Template</a></li>
        <li><a routerLink="/admin/factions" i18n="@@admin.factions">Factions</a></li>
        <li><a routerLink="/admin/episode-template" i18n="@@admin.episodetemplate">Episode Template</a></li>
        <li><a routerLink="/admin/permissions" i18n="@@admin.permissions">Permissions</a></li>
        <li><a routerLink="/admin/character-claims" i18n="@@admin.characterClaims">Character Claims</a></li>
        <li><a routerLink="/admin/wanted-character-template" i18n="@@admin.wantedCharacterTemplate">Wanted Character Template</a></li>
        <li><a routerLink="/admin/widget-panels" i18n="@@admin.widgetPanels">Widget Panels</a></li>
        <li><a routerLink="/admin/widgets" i18n="@@admin.widgets">Widgets</a></li>
        <li><a routerLink="/admin/design" i18n="@@admin.design">Design</a></li>
      </ul>
    </nav>
    <main id="admin-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
