@if (!cancel.observed) {
  <h1><span i18n="@@topiccreate.title">Start a new character</span></h1>
}
<div id="post-form" class="formal">
  <form id="post" class="container" (submit)="onSubmit($event)">
    <fieldset>
      <legend style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
@if (cancel.observed) {
          @if (statusActive()) {
            <button type="button" class="button btn-deactivate" [disabled]="isPending" (click)="requestDeactivate()" i18n="@@common.deactivate">Deactivate</button>
          } @else {
            <button type="button" class="button btn-activate" [disabled]="isPending" (click)="activate()" i18n="@@common.activate">Activate</button>
          }
        }
      </legend>
      <div class="fs-box hashelp">
        <p class="inputfield required longinput">
          <label for="fld3"><ng-container i18n="@@topiccreate.characterName">Name</ng-container> <em><ng-container i18n="@@topiccreate.required">(Required)</ng-container></em></label><br />
          <span class="input"><input id="fld3" type="text" name="req_name" [value]="characterName" size="80" maxlength="70" /></span>
        </p>

        <p class="inputfield required longinput">
          <label for="fld4">Avatar URL</label><br />
          <span class="input"><input id="fld4" type="text" name="req_avatar" [value]="characterAvatar" size="80" maxlength="255" /></span>
        </p>

        <app-faction-paths
          [initialFactions]="initialData?.factions ?? []"
          (factionsChange)="onFactionsChanged($event)">
        </app-faction-paths>

      </div>
    </fieldset>

    <fieldset>
      @for (field of characterTemplate(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            <app-field-input [field]="field" [fieldValue]="getFieldValue(field.machine_field_name)"></app-field-input>
          </p>
        </div>
      }
    </fieldset>

    <fieldset class="claim-block">
      <div class="fs-box">
        @if (isEditMode() && claimBlockLocked()) {
          <p class="inputfield">
            @if (hasExistingClaim()) {
              <span i18n="@@charactercreate.claimLockedHas">
                Active claim until {{ initialData?.claim_record?.claim_expiration_date | date:'mediumDate' }}.
              </span>
            } @else {
              <span i18n="@@charactercreate.claimLockedNone">No claim set.</span>
            }
            &nbsp;
            <button type="button" class="button" (click)="requestUnlockClaimBlock()" i18n="@@charactercreate.claimEdit">Edit</button>
          </p>
        } @else {
          <p class="inputfield">
            <label i18n="@@charactercreate.claimQuestion">Is this a claim on an existing character?</label><br />
            <label>
              <input type="radio" name="claim_type" value="no"
                [checked]="claimType() === 'no'"
                (change)="onClaimTypeChange('no')" />
              <ng-container i18n="@@charactercreate.claimNo">No</ng-container>
            </label>
            &nbsp;
            <label>
              <input type="radio" name="claim_type" value="wanted"
                [checked]="claimType() === 'wanted'"
                (change)="onClaimTypeChange('wanted')" />
              <ng-container i18n="@@charactercreate.claimWanted">Yes, for a wanted character</ng-container>
            </label>
            &nbsp;
            <label>
              <input type="radio" name="claim_type" value="direct"
                [checked]="claimType() === 'direct'"
                (change)="onClaimTypeChange('direct')" />
              <ng-container i18n="@@charactercreate.claimDirect">Yes (no wanted character)</ng-container>
            </label>
          </p>

          @if (claimType() === 'wanted' || claimType() === 'direct') {
            <div class="inputfield longinput">
              <label for="claim_query">
                @if (claimType() === 'wanted') {
                  <ng-container i18n="@@charactercreate.claimWantedLabel">Wanted character</ng-container>
                } @else {
                  <ng-container i18n="@@charactercreate.claimNameLabel">Claim</ng-container>
                }
              </label><br />
              <div class="input-wrapper" style="position: relative;">
                <input id="claim_query" type="text" name="claim_query" size="80" autocomplete="off"
                  [ngModel]="claimQuery()"
                  (ngModelChange)="onClaimQueryChange($event)" />
                @if (claimSuggestions().length > 0) {
                  <div class="suggestions-dropdown">
                    @for (item of claimSuggestions(); track item.id) {
                      <div class="suggestion-item" (click)="selectClaimItem(item)">
                        <span>{{ item.name }}</span>
                      </div>
                    }
                  </div>
                }
              </div>
              @if (isOwnClaim()) {
                <p class="claim-own-note" i18n="@@charactercreate.claimOwnNote">
                  You have claimed this character until {{ selectedClaimItem()?.claim_expiration_date | date:'mediumDate' }}
                </p>
              }
            </div>
          }
        }
      </div>
    </fieldset>

    <p class="formsubmit">
      <input type="submit" class="button submit" name="submit" value="Send" i18n-value="@@topiccreate.send" accesskey="s" [disabled]="isClaimBlocked()" />
      @if (cancel.observed) {
        <button type="button" class="button" (click)="onCancel()" i18n="@@topiccreate.cancel">Cancel</button>
      } @else {
        <input type="submit" class="button preview" name="preview" value="Preview" i18n-value="@@topiccreate.preview" accesskey="p" />
      }
    </p>
  </form>
</div>
<div id="ajaxpostpreview"></div>

@if (showClaimUnlockModal()) {
  <div class="modal-overlay">
    <div class="modal-content">
      @if (hasExistingClaim()) {
        <h2 i18n="@@charactercreate.claimChangeTitle">Change claim?</h2>
        <p i18n="@@charactercreate.claimChangeText">Changing this will remove your current claim. Are you sure?</p>
      } @else {
        <h2 i18n="@@charactercreate.claimAddTitle">Claim a character?</h2>
        <p i18n="@@charactercreate.claimAddText">Are you sure you want to claim a character?</p>
      }
      <div class="buttons">
        <button type="button" class="button submit" (click)="confirmUnlockClaimBlock()" i18n="@@common.confirm">Confirm</button>
        <button type="button" class="button" (click)="cancelUnlockClaimBlock()" i18n="@@common.cancel">Cancel</button>
      </div>
    </div>
  </div>
}

@if (showClaimBlockedModal()) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h2 i18n="@@charactercreate.claimBlockedTitle">Character already claimed</h2>
      <p i18n="@@charactercreate.claimBlockedText">
        This character is claimed by another user until {{ selectedClaimItem()?.claim_expiration_date | date:'mediumDate' }}.
      </p>
      <div class="buttons">
        <button type="button" class="button" (click)="dismissClaimBlockedModal()" i18n="@@common.ok">OK</button>
      </div>
    </div>
  </div>
}

@if (showConfirmModal()) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h2 i18n="@@common.deactivateConfirmTitle">Deactivate character?</h2>
      <p i18n="@@common.deactivateConfirmText">This will make the character inactive. Are you sure?</p>
      <div class="buttons">
        <button type="button" class="button btn-deactivate" (click)="confirmDeactivate()" i18n="@@common.deactivate">Deactivate</button>
        <button type="button" class="button" (click)="cancelDeactivate()" i18n="@@common.cancel">Cancel</button>
      </div>
    </div>
  </div>
}
