@if (isNewMask) {
  <h1><span i18n="@@characterprofileedit.titleNewMask">Create New Mask</span></h1>
} @else {
  <h1><span i18n="@@characterprofileedit.titleEdit">Edit Character Profile</span></h1>
}
<div id="post-form" class="formal">
  <form id="post" class="container" (submit)="onSubmit($event)">
    <fieldset>
      <legend><ng-container i18n="@@characterprofileedit.characterDetails">Character Details</ng-container></legend>
      <div class="fs-box hashelp">
        @if (is_mask || isNewMask) {
          <p class="inputfield required">
            <label for="char_name"><ng-container i18n="@@characterprofileedit.name">Name</ng-container> <em>(<ng-container i18n="@@topiccreate.required">Required</ng-container>)</em></label><br />
            <span class="input"><input id="char_name" type="text" name="character_name" [(ngModel)]="characterName" size="80" maxlength="70" required /></span>
          </p>
        } @else {
          <!-- Hidden or readonly if it's a character profile being edited -->
          <p class="inputfield required">
            <label for="char_name"><ng-container i18n="@@characterprofileedit.name">Name</ng-container></label><br />
            <span class="input"><input id="char_name" type="text" name="character_name" [(ngModel)]="characterName" size="80" maxlength="70" readonly class="readonly-input" /></span>
          </p>
        }

        <div class="inputfield required">
          <label i18n="@@characterprofileedit.avatarUrl">Avatar URL</label>
          <app-image-field [name]="'avatar'" [fieldValue]="characterAvatar" [showFieldName]="false"></app-image-field>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><ng-container i18n="@@characterprofileedit.customFields">Custom Fields</ng-container></legend>
      @for (field of template(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            @if (field.content_field_type === 'short_text') {
              <app-short-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-short-text-field>
            }
            @if (field.content_field_type === 'long_text') {
              <app-long-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)"
                [rows]="10">
              </app-long-text-field>
            }
            @if (field.content_field_type === 'image') {
              <app-image-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-image-field>
            }
            @if (field.content_field_type === 'number') {
              <app-number-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-number-field>
            }
          </p>
        </div>
      }
    </fieldset>
    <p class="formsubmit">
      @if (isNewMask) {
        <input type="submit" class="button submit" i18n-value="@@characterprofileedit.create" value="Create" accesskey="s" />
      } @else {
        <input type="submit" class="button submit" i18n-value="@@characterprofileedit.update" value="Update" accesskey="s" />
      }
    </p>
  </form>
</div>
