<h1><span i18n="@@topiccreate.title">Start a new topic</span></h1>
  <div id="post-form" class="formal">
    <form id="post" class="container" (submit)="onSubmit($event)">
      <fieldset id="post-preview" style="display:none">
        <legend><span i18n="@@topiccreate.previewMessage">Message preview</span></legend>
        <div class="fs-box">
          <div class="post-box">
            <div class="post-content">
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><span i18n="@@topiccreate.writeMessage">Write your message and click "Send"</span></legend>
        <div class="fs-box hashelp">
          <div id="formkey"></div>
          <div id="formetc" style="display:none"></div>
          <input type="hidden" name="form_sent" value="1" />
          <input type="hidden" name="form_user" value="viper" />

          <p class="inputfield required longinput">
            <label for="fld3"><ng-container i18n="@@topiccreate.subject">Subject</ng-container> <em><ng-container i18n="@@topiccreate.required">(Required)</ng-container></em></label><br />
            <span class="input"><input id="fld3" type="text" name="req_subject" [value]="restoredTitle" size="80" maxlength="70" /></span>
          </p>

          <div class="post-editor-container">

            <div class="profile-sidebar">
              <app-character-profile
                [accountName]="accountName"
                (characterSelected)="onCharacterSelected($event)">
              </app-character-profile>
            </div>

            <div class="textarea-wrapper">
              <p class="areafield required">
                <span class="input">
                  <app-long-text-field
                    [fieldName]="'main-reply'"
                    [name]="'req_message'"
                    [showFieldName]="false"
                    [rows]="20"
                    [fieldValue]="restoredContent">
                  </app-long-text-field>
                </span>
              </p>
            </div>
          </div>

          <p class="checkfield"><input type="checkbox" id="fld6" name="subscribe" value="1" /><label for="fld6" i18n="@@topiccreate.subscribe">Subscribe to this topic</label></p>
          <p class="checkfield"><input type="checkbox" id="fld10" name="firstpost" value="1" /><label for="fld10" i18n="@@topiccreate.firstPost">Pin the first post</label></p>
        </div>
      </fieldset>
      <p class="formsubmit"><input type="submit" class="button submit" name="submit" value="Send" i18n-value="@@topiccreate.send" accesskey="s" /> <input type="submit" class="button preview" name="preview" value="Preview" i18n-value="@@topiccreate.preview" accesskey="p" /></p>
    </form>
  </div>
  <div id="ajaxpostpreview"></div>
