<div class="widgets-header">
  <h2 i18n="@@admin.widgets">Widgets</h2>
  <a routerLink="/admin/widget/new" class="btn-add" i18n="@@admin.widgets.create">+ New Widget</a>
</div>

<table class="widgets-table">
  <thead>
    <tr>
      <th i18n="@@admin.widgets.colId">ID</th>
      <th i18n="@@admin.widgets.colName">Name</th>
      <th i18n="@@admin.widgets.colTemplate">Template</th>
    </tr>
  </thead>
  <tbody>
    @for (widget of widgets(); track widget.id) {
      <tr>
        <td>{{ widget.id }}</td>
        <td><a [routerLink]="['/admin/widget', widget.id]">{{ widget.name }}</a></td>
        <td>{{ widget.template_name }}</td>
      </tr>
    } @empty {
      <tr>
        <td colspan="3" i18n="@@admin.widgets.empty">No widgets found.</td>
      </tr>
    }
  </tbody>
</table>
