<div id="form-buttons">
  <table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td title="Font" i18n-title="@@postform.font" (click)="toggleArea('font')"><i class="bi bi-fonts"></i></td>
      <td title="Size" i18n-title="@@postform.size" (click)="toggleArea('size')"><i class="bi bi-type-h1"></i></td>
      <td title="Bold" i18n-title="@@postform.bold" (click)="insertTag('b')"><i class="bi bi-type-bold"></i></td>
      <td title="Italic" i18n-title="@@postform.italic" (click)="insertTag('i')"><i class="bi bi-type-italic"></i></td>
      <td title="Underline" i18n-title="@@postform.underline" (click)="insertTag('u')"><i class="bi bi-type-underline"></i></td>
      <td title="Strikethrough" i18n-title="@@postform.strike" (click)="insertTag('s')"><i class="bi bi-type-strikethrough"></i></td>
      <td title="Align left" i18n-title="@@postform.alignLeft" (click)="insertTag('left')"><i class="bi bi-text-left"></i></td>
      <td title="Center" i18n-title="@@postform.center" (click)="insertTag('center')"><i class="bi bi-text-center"></i></td>
      <td title="Align right" i18n-title="@@postform.alignRight" (click)="insertTag('right')"><i class="bi bi-text-right"></i></td>
      <td title="Link" i18n-title="@@postform.link" (click)="insertTag('url')"><i class="bi bi-link-45deg"></i></td>
      <td title="Quote" i18n-title="@@postform.quote" (click)="insertTag('quote')"><i class="bi bi-quote"></i></td>
      <td title="Code" i18n-title="@@postform.code" (click)="insertTag('code')"><i class="bi bi-code-slash"></i></td>
      <td title="Color" i18n-title="@@postform.color" (click)="toggleArea('color')"><i class="bi bi-palette"></i></td>
      <td title="Smile" i18n-title="@@postform.smile" (click)="toggleArea('smile')"><i class="bi bi-emoji-smile"></i></td>
      @if (showImageUpload) {
        <td title="Upload image" i18n-title="@@postform.uploadImage" (click)="showImageUploadModal = true"><i class="bi bi-image"></i></td>
      }
      @if (showSpoiler) {
        <td title="Spoiler" (click)="openSpoilerModal()"><i class="bi bi-eye-slash"></i></td>
      }
    </tr>
    </tbody>
  </table>
</div>

<div id="tags">
  @if (activeArea === 'font') {
    <div class="container" id="font-area">
      @for (font of fonts; track font) {
        <div [style.font-family]="font" (click)="insertTag('font=' + font)">
          <span>{{ font }}</span>
        </div>
      }
    </div>
  }
  @if (activeArea === 'size') {
    <div class="container" id="size-area">
      @for (size of [8, 10, 12, 14, 16, 18, 20]; track size) {
        <div [style.font-size.px]="size" (click)="insertTag('size=' + size)">
          <span>{{ size }}px</span>
        </div>
      }
    </div>
  }
  @if (activeArea === 'color') {
    <div class="container" id="color-area">
      <table>
        <tr>
          @for (color of colors; track color) {
            <td [style.background-color]="color" (click)="insertTag('color=' + color)"></td>
          }
        </tr>
      </table>
    </div>
  }
  @if (activeArea === 'smile') {
    <div class="container" id="smile-area">
      @for (category of smileCategories(); track category.id) {
        <div class="smile-category">
          @if (category.name) {
            <div class="smile-category-name">{{ category.name }}</div>
          }
          <div class="smile-list">
            @for (smile of category.smiles; track smile.id) {
              <img
                [src]="smile.url"
                [title]="smile.text_form"
                class="smile-icon"
                (click)="insertSmile(smile.url)"
                alt=""
              />
            }
          </div>
        </div>
      }
    </div>
  }
</div>

@if (showSpoilerModal) {
  <div class="spoiler-modal-backdrop" (click)="showSpoilerModal = false">
    <div class="spoiler-modal" (click)="$event.stopPropagation()">
      <p i18n="@@postform.spoilerTitle">Spoiler title</p>
      <input #spoilerTitleInput type="text" />
      <div class="spoiler-modal-actions">
        <button type="button" (click)="insertSpoiler(spoilerTitleInput.value)" i18n="@@postform.spoilerInsert">Insert</button>
        <button type="button" (click)="showSpoilerModal = false" i18n="@@postform.spoilerCancel">Cancel</button>
      </div>
    </div>
  </div>
}

@if (showImageUploadModal) {
  <app-image-upload
    (close)="showImageUploadModal = false"
    (insert)="onInsertImage($event)">
  </app-image-upload>
}
