<div class="container">
    <ul>
      <li id="navindex" class="isactive"><a routerLink="/"><span i18n="@@nav.home">Home</span></a></li>
      @if(isAuthenticated()) {
      <li id="navprofile"><a [routerLink]="['profile', currentUser()?.id]"><span i18n="@@nav.profile">Profile</span></a></li>
      <li id="navchat"><a routerLink="direct-chat"><span i18n="@@nav.messages">Messages</span></a></li>
      }
      @if(authService.isAdmin()) {
        <li id="navadmin"><a routerLink="admin/notifications"><span i18n="@@nav.admin">Admin</span></a></li>
      }
<!--      <li id="navsearch"><a href="/search"><span i18n="@@nav.search">Search</span></a></li>-->
      @if(isAuthenticated()) {
      <li id="navsettings"><a routerLink="settings"><span i18n="@@nav.settings">Settings</span></a></li>
      <li id="navlogout"><a href="#" (click)="logout($event)"><span i18n="@@nav.logout">Logout</span></a></li>
      }
      @if(!isAuthenticated()) {
      <li id="navregister"><a routerLink="/register"><span i18n="@@nav.register">Register</span></a></li>
      <li id="navlogin"><a routerLink="/login"><span i18n="@@nav.login">Login</span></a></li>
      }
    </ul>
</div>
<div id="pun-ulinks" class="section">
  <ul class="container">
    <li class="item1" id="h-about"><a i18n="@@nav.about" routerLink="/about">About the forum</a></li>
    <li class="item2" id="h-characters"><a i18n="@@nav.characterlist" routerLink="/character-list">Character List</a></li>
    <li class="item3" id="h-users"><a i18n="@@nav.userlist" routerLink="/user-list">User List</a></li>
    <li class="item4" id="h-episodes"><a i18n="@@nav.episodelist" routerLink="/episode-list">Episode List</a></li>
    <li class="item5" id="h-active-topics"><a i18n="@@nav.activeTopics" routerLink="/active-topics">Active Topics</a></li>
    <li class="item6" id="h-rules"><a i18n="@@nav.rules" routerLink="/rules">Rules</a></li>
  </ul>
</div>
