@if (character(); as char) {
<div id="pun-main" class="main">
  <app-character-sheet-header [character]="char"></app-character-sheet-header>

  <div class="category">
    <div class="maintitle">
      <p>Episodes</p>
    </div>
    <div class="main-content">
      <table cellspacing="0">
        <thead>
          <tr>
            <th class="tcl" scope="col">Episode Name</th>
            <th class="tc2" scope="col">Characters</th>
            <th class="tcr" scope="col">Last Post</th>
          </tr>
        </thead>
        <tbody>
          @for (episode of char.episodes; track episode.id; let isEven = $even) {
            <tr [class.altstyle]="isEven">
              <td class="tcl">
                <div class="intd">
                  <div class="tclcon">
                    <a [routerLink]="['/viewtopic', episode.topic_id]">{{ episode.name }}</a>
                  </div>
                </div>
              </td>
              <td class="tc2">
                @for (charShort of episode.characters; track charShort.id; let last = $last) {
                  <a [routerLink]="['/character', charShort.id]">{{ charShort.name }}</a>@if(!last){, }
                }
              </td>
              <td class="tcr">
                {{ episode.date_last_post | date }}<br>
                <span class="byuser">by {{ episode.last_post_author_username }}</span>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3" class="tcl">
                <div class="intd">
                  <p>No episodes found.</p>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  @if (char.user_info) {
    <div class="category">
      <div class="main-content">
        <div class="main-item">
          <app-user-info [userInfo]="char.user_info" />
        </div>
      </div>
    </div>
  }
</div>
}
