<div id="pun">
  <div [id]="pageId" class="punbb">
    <div id="pun-title" class="section">
      <div class="container">
        <div class="title-site">
          <h1><a href="/">{{ title() }}</a></h1>
          <p><span></span></p>
        </div>
      </div>
    </div>

    <div id="pun-navlinks" class="section" app-navlinks></div>

    <div id="header-widget-panel" [innerHTML]="headerPanelHtml()"></div>

    <div id="pun-status" class="section">
      <div class="container">
        <p class="conl"><span><ng-container i18n="@@app.hello">Hello</ng-container>, {{currentUser()?.username}}!</span></p>
        @if (authService.isAuthenticated()) {
          <app-notifications></app-notifications>
        }
      </div>
    </div>
<router-outlet />

  <div id="pun-footer" class="section" app-footer></div>
</div>
<div id="html-bottom"></div>
</div>
<app-toast></app-toast>
<app-scroll-nav></app-scroll-nav>
