<app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

<div id="pun-main" class="main">
  <div class="main-header">
    <h1><span>{{subforum()?.name}}</span></h1>
    <p class="modlist"><span><ng-container i18n="@@viewforum.moderators">Moderators</ng-container>: <strong>Admin</strong></span></p>
  </div>

  <div id="vf" class="category">
    <div class="maintitle">
      <div class="conr">
        <p class="pagelink">
          @if (totalPages() > 1) {
            <span><ng-container i18n="@@viewforum.pages">Pages</ng-container>:
              @for (p of [].constructor(totalPages()); track $index; let i = $index) {
                @if (i + 1 === pageNumber) {
                  <strong>{{ i + 1 }}</strong>
                } @else {
                  <a [routerLink]="['/viewforum', id]" [queryParams]="{ page: i + 1 }">{{ i + 1 }}</a>
                }
              }
            </span>
          }
        </p>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="main-content">
      <div class="main-item">
        <div class="buttons">
          <div class="conl">
            @if (subforum()?.permissions?.subforum_create_general_topic) {
              <a routerLink="/topic-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.generic">Standard</span></a>
            }
            @if (subforum()?.permissions?.subforum_create_episode_topic) {
              <a routerLink="/episode-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.episode">Game</span></a>
            }
            @if (subforum()?.permissions?.subforum_create_character_topic) {
              <a routerLink="/character-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.character">Character</span></a>
            }
          </div>
          <div class="clearer"></div>
        </div>

        <table cellspacing="0">
          <thead>
          <tr>
            <th class="tcl" scope="col" i18n="@@viewforum.topic">Topic</th>
            <th class="tc2" scope="col" i18n="@@viewforum.replies">Replies</th>
            <th class="tc3" scope="col" i18n="@@viewforum.views">Views</th>
            <th class="tcr" scope="col" i18n="@@viewforum.lastPost">Last post</th>
          </tr>
          </thead>
          <tbody>
         @for(topic of topics(); track topic.id; let isEven = $even) {
           <tr [class.altstyle]="isEven" [class.new-posts]="topic.not_viewed">
            <td class="tcl">
              <div class="intd">
                <div class="icon">
                  @if (topic.not_viewed) {
                    <div class="nosize new-icon" title="New posts">New</div>
                  } @else {
                    <div class="nosize">1</div>
                  }
                </div>
                <div class="tclcon">
                  <h3>
                    <a routerLink="/viewtopic/{{topic.id}}">{{topic.name}}</a>
                    @if (topic.not_viewed && topic.last_viewed_id) {
                      <a [routerLink]="['/viewtopic', topic.id]" [queryParams]="{ post_id: topic.last_viewed_id }" class="new-posts-link">[new posts]</a>
                    }
                  </h3>
                  <span class="byuser"><ng-container i18n="@@viewforum.by">by</ng-container> <a routerLink="/profile/{{topic.author_user_id}}">{{topic.author_username}}</a></span>
                </div>
              </div>
            </td>
            <td class="tc2">{{topic.post_number}}</td>
<!--            <td class="tc3"></td>-->
            <td class="tcr">
              @if (topic.last_post_id) {
                <a [routerLink]="['/viewtopic', topic.id]" [queryParams]="{ post_id: topic.last_post_id }">{{topic.date_last_post}}</a>
              } @else {
                <a routerLink="/viewtopic/{{topic.id}}">{{topic.date_last_post}}</a>
              }
              <span class="byuser"><ng-container i18n="@@viewforum.by">by</ng-container> {{topic.last_post_author_username}}</span>
            </td>
          </tr>
         }
          </tbody>
        </table>

        <div class="buttons">
          <div class="conl">
            @if (subforum()?.permissions?.subforum_create_general_topic) {
              <a routerLink="/topic-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.generic">Standard</span></a>
            }
            @if (subforum()?.permissions?.subforum_create_episode_topic) {
              <a routerLink="/episode-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.episode">Game</span></a>
            }
            @if (subforum()?.permissions?.subforum_create_character_topic) {
              <a routerLink="/character-create" [queryParams]="{fid: subforum()?.id}" class="button"><span i18n="@@topiccreate.character">Character</span></a>
            }
          </div>
          <p class="conr">
            @if (totalPages() > 1) {
              <span><ng-container i18n="@@viewforum.pages">Pages</ng-container>:
                @for (p of [].constructor(totalPages()); track $index; let i = $index) {
                  @if (i + 1 === pageNumber) {
                    <strong>{{ i + 1 }}</strong>
                  } @else {
                    <a [routerLink]="['/viewforum', id]" [queryParams]="{ page: i + 1 }">{{ i + 1 }}</a>
                  }
                }
              </span>
            }
          </p>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-footer"></div>
</div>
