@if (!post) {
  <div class="character-selector">
    @if (authService.isAuthenticated()) {
      <select [(ngModel)]="selectedCharacterId" (change)="onSelect()" style="width: 100%; margin-bottom: 10px;">
        @if (showAccount) {
          <option value="account"><ng-container i18n="@@postform.account">Account</ng-container>: {{ accountName }}</option>
        }
        @for (char of characters(); track char.id) {
          <option [value]="char.id">{{ char.is_mask && char.mask_name ? '🎭 ' + char.mask_name : char.character_name }}</option>
        }
      </select>
    } @else {
      <div style="margin-bottom: 10px;">
        <label for="guestName">Name:</label>
        <input id="guestName" type="text" [(ngModel)]="guestName" (ngModelChange)="onGuestNameChange()" style="width: 100%;" />
      </div>
    }
  </div>
}

<div class="post-author" [class.post-character]="isCharacter">
  <ul>
    <li class="pa-author">
      @if (post && authService.isAuthenticated()) {
        <span class="author-mention" (click)="authorClicked.emit(post.author_user_name)">{{ displayName }}</span>
      } @else {
        {{ displayName }}
      }
    </li>
    <li class="pa-avatar">
      @if (displayAvatar) {
        <img [src]="displayAvatar" alt="Avatar" />
      } @else {
        <div class="avatar-empty"></div>
      }
    </li>
    @if (post && !isCharacter && post.user_profile) {
      <li class="pa-posts"><ng-container i18n="@@userprofile.totalPosts">Game posts</ng-container>: {{ post.user_profile.total_posts }}</li>
      <li class="pa-posts"><ng-container i18n="@@userprofile.totalGeneralPosts">General posts</ng-container>: {{ post.user_profile.total_general_posts }}</li>
      @if (featureService.isFeatureActive('currency') && post.user_profile.currency_amount != null) {
        <li class="pa-currency">{{ currencyService.settings().currency_name }}: {{ post.user_profile.currency_amount }}</li>
      }
    }
    @if (isCharacter && customFields.length > 0) {
      @for(field of customFields; track (field.fieldMachineName || $index); let j = $index) {
        <li class="pa-fld{{ j }}">
          @switch (field.type) {
            @case('short_text') {
              <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue" ></app-short-text-field-display>
            }
            @case('long_text') {
              <app-long-text-field-display
                [fieldMachineName]="field.fieldMachineName"
                [showFieldName]="field.showFieldName"
                [fieldName]="field.fieldName"
                [fieldValue]="field.fieldValue" ></app-long-text-field-display>
            }
            @case('number') {
              <app-number-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-number-field-display>
            }
            @case('image') {
              <app-image-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-image-field-display>
            }
            @case('cropped_image') {
              <app-cropped-image-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-cropped-image-field-display>
            }
          }
        </li>
      }
    }
  </ul>
</div>
