<h1><span i18n="@@topiccreate.title">Start a new game</span></h1>
<div id="post-form" class="formal">
  <form id="post" class="container" (submit)="onSubmit($event)">
    <fieldset>
      <legend><span i18n="@@topiccreate.writeMessage">Write your message and click "Send"</span></legend>
      <div class="fs-box hashelp">
        <p class="inputfield required longinput">
          <label for="fld3"><ng-container i18n="@@topiccreate.subject">Subject</ng-container> <em><ng-container i18n="@@topiccreate.required">(Required)</ng-container></em></label><br />
          <span class="input"><input id="fld3" type="text" name="req_subject" [value]="subject" size="80" maxlength="70" /></span>
        </p>

        <div class="inputfield required longinput">
          <label><ng-container i18n="@@episodecreate.characters">Characters</ng-container></label><br />
          @for (control of characterControls.controls; track control; let i = $index) {
          <div class="character-input-group">
            <span class="input">
              <input type="text" [formControl]="control" placeholder="Search characters..." i18n-placeholder="@@episodecreate.searchCharacters" />
            </span>
            @if (i > 0) {
              <span class="remove-char" (click)="removeCharacterField(i)">x</span>
            }
            @if (activeInputIndex === i && characterSuggestions().length > 0) {
            <ul class="autocomplete-list">
              @for (char of characterSuggestions(); track char.id) {
              <li (click)="selectCharacter(i, char.name, char.id)">{{ char.name }}</li>
              }
            </ul>
            }
          </div>
          }
          <button type="button" class="button" (click)="addCharacterField()" i18n="@@episodecreate.addCharacter">Add character</button>
        </div>

        <div class="inputfield required longinput">
          <label><ng-container i18n="@@episodecreate.masks">Masks</ng-container></label><br />
          @for (control of maskControls.controls; track control; let i = $index) {
          <div class="character-input-group">
            <span class="input">
              <input type="text" [formControl]="control" placeholder="Search masks..." i18n-placeholder="@@episodecreate.searchMasks" />
            </span>
            @if (i > 0) {
              <span class="remove-char" (click)="removeMaskField(i)">x</span>
            }
            @if (activeMaskInputIndex === i && maskSuggestions().length > 0) {
            <ul class="autocomplete-list">
              @for (mask of maskSuggestions(); track mask.id) {
              <li (click)="selectMask(i, mask.mask_name, mask.id)">{{ mask.mask_name + ' (' + mask.user_name + ')' }}</li>
              }
            </ul>
            }
          </div>
          }
          <button type="button" class="button" (click)="addMaskField()" i18n="@@episodecreate.addMask">Add mask</button>
        </div>

      </div>
    </fieldset>

    <fieldset>
      @for (field of episodeTemplate(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            @if (field.content_field_type === 'short_text' || field.content_field_type === 'number') {
              <app-short-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-short-text-field>
            }
            @if (field.content_field_type === 'long_text') {
              <app-long-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [rows]="10"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-long-text-field>
            }
            @if (field.content_field_type === 'image') {
              <app-image-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [fieldValue]="getFieldValue(field.machine_field_name)">
              </app-image-field>
            }
          </p>
        </div>
      }
    </fieldset>

    <p class="formsubmit">
      <input type="submit" class="button submit" name="submit" value="Send" i18n-value="@@topiccreate.send" accesskey="s" />
      @if (cancel.observed) {
        <button type="button" class="button" (click)="onCancel()" i18n="@@topiccreate.cancel">Cancel</button>
      } @else {
        <input type="submit" class="button preview" name="preview" value="Preview" i18n-value="@@topiccreate.preview" accesskey="p" />
      }
    </p>
  </form>
</div>
<div id="ajaxpostpreview"></div>
