<div id="pun-main" class="main character-list">
  <div class="main-header">
    <h1><span i18n="@@characterList.title">Character List</span></h1>
  </div>

  <div class="character-tree">
    @for (group of groupedCharacterList(); track group[0]?.id || $index) {
      <div class="category">
        <div class="maintitle">
          <h2 class="faction-title"><span>{{ group[0].name }}</span></h2>
        </div>

        <div class="main-content">
          @if (group[0].characters && group[0].characters.length > 0) {
            <ul class="character-group">
              @for (char of group[0].characters; track char.id) {
                <li class="character-list-item">
                  @if (char.is_claim) {
                    <span class="character-link">{{ char.name }}</span>
                  } @else {
                    <a [routerLink]="['/character', char.id]" class="character-link">{{ char.name }}</a>
                  }
                  @if (char.wanted_character_id != null) {
                    (<a [routerLink]="['/character', char.wanted_character_id]" class="character-wanted-link" i18n="@@characterList.wanted">wanted</a>)
                  }
                </li>
              }
            </ul>
          }

          @for (faction of group.slice(1); track faction.id) {
            <div class="faction-block" [class.level-1]="faction.level === 1" [class.level-2]="faction.level >= 2">
              @switch (faction.level) {
                @case (1) { <h3 class="faction-title">{{ faction.name }}</h3> }
                @case (2) { <h4 class="faction-title">{{ faction.name }}</h4> }
                @default { <h5 class="faction-title">{{ faction.name }}</h5> }
              }

              @if (faction.characters && faction.characters.length > 0) {
                <ul class="character-group">
                  @for (char of faction.characters; track char.id) {
                    <li class="character-list-item">
                      @if (char.is_claim) {
                        <span class="character-link">{{ char.name }}</span>
                      } @else {
                        <a [routerLink]="['/character', char.id]" class="character-link">{{ char.name }}</a>
                      }
                      @if (char.wanted_character_id != null) {
                        (<a [routerLink]="['/character', char.wanted_character_id]" class="character-wanted-link" i18n="@@characterList.wanted">wanted</a>)
                      }
                    </li>
                  }
                </ul>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
