<div class="factions-container">
  @if (pendingFactions().length > 0) {
    <div class="pending-block">
      <h3 i18n="@@faction.pendingTitle">Pending actions</h3>
      @for (faction of pendingFactions(); track faction.id) {
        <div class="pending-row">
          <div class="pending-info">
            @if (faction.icon) {
              <span class="pending-icon">{{ faction.icon }}</span>
            }
            <strong class="pending-name">{{ faction.name }}</strong>
            @if (faction.description) {
              <span class="pending-description">{{ faction.description }}</span>
            }
            @if (faction.parent_id != null) {
              <span class="pending-parent" i18n="@@faction.parent_id">Parent ID</span>: <span>{{ faction.parent_id }}</span>
            }
          </div>
          <div class="pending-actions">
            <button type="button" class="btn-approve" (click)="approve(faction)" i18n="@@faction.approve">Approve</button>
            <button type="button" class="btn-decline" (click)="decline(faction)" i18n="@@faction.decline">Decline</button>
          </div>
        </div>
      }
    </div>
  }

  <h2 i18n="@@admin.factions">Factions</h2>

  @for (faction of factions(); track faction.id) {
    <form (submit)="save(faction); $event.preventDefault()" [style.margin-left.px]="faction.level * 24">
      <fieldset class="faction-fieldset">
        @if (isNew(faction)) {
          <legend i18n="@@faction.newFaction">New faction</legend>
        } @else {
          <legend>{{ faction.name || 'Faction #' + faction.id }}</legend>
        }

        <div class="field-row">
          <label [for]="'name-' + faction.id" i18n="@@faction.name">Name</label>
          <input [id]="'name-' + faction.id" type="text" [(ngModel)]="faction.name" [name]="'name-' + faction.id" required />
        </div>

        <div class="field-row">
          <label [for]="'level-' + faction.id" i18n="@@faction.level">Level</label>
          <input [id]="'level-' + faction.id" type="number" [(ngModel)]="faction.level" [name]="'level-' + faction.id" />
        </div>

        <div class="field-row">
          <label [for]="'description-' + faction.id" i18n="@@faction.description">Description</label>
          <textarea [id]="'description-' + faction.id" [(ngModel)]="faction.description" [name]="'description-' + faction.id"></textarea>
        </div>

        <div class="field-row">
          <label [for]="'icon-' + faction.id" i18n="@@faction.icon">Icon</label>
          <input [id]="'icon-' + faction.id" type="text" [(ngModel)]="faction.icon" [name]="'icon-' + faction.id" />
        </div>

        <div class="field-row">
          <label [for]="'parent-' + faction.id" i18n="@@faction.parent_id">Parent ID</label>
          <input [id]="'parent-' + faction.id" type="number" [(ngModel)]="faction.parent_id" [name]="'parent-' + faction.id" />
        </div>

        <div class="field-row field-row--checkbox">
          <input [id]="'show-' + faction.id" type="checkbox" [(ngModel)]="faction.show_on_profile" [name]="'show-' + faction.id" />
          <label [for]="'show-' + faction.id" i18n="@@faction.show_on_profile">Show on profile</label>
        </div>

        <div class="form-actions">
          @if (isNew(faction)) {
            <button type="submit" class="btn-primary" i18n="@@common.add">Add</button>
          } @else {
            <button type="submit" class="btn-primary" i18n="@@common.save">Save</button>
          }
          @if (!isNew(faction)) {
            <button type="button" (click)="addChild(faction)" i18n="@@faction.addChild">Add Child</button>
            <button type="button" class="btn-decline" (click)="deleteFaction(faction)" i18n="@@faction.delete">Delete</button>
          }
        </div>
      </fieldset>
    </form>
  }
</div>

@if (showDeleteErrorModal) {
  <div class="modal-overlay">
    <div class="modal">
      <p i18n="@@faction.deleteError">This faction cannot be deleted because it has child factions or characters assigned to it.</p>
      <div class="modal-actions">
        <button type="button" class="btn-primary" (click)="showDeleteErrorModal = false" i18n="@@common.close">Close</button>
      </div>
    </div>
  </div>
}
