<div id="pun-main" class="main">
    <div class="main-header"></div>
  @for (category of categories(); track category.id) {
    <div id="category-{{category.id}}" class="category">
      <div class="maintitle">
        <h2><span>{{category.name}}</span></h2>
      </div>
      <div class="main-content">
        <div class="main-item">
          <table cellspacing="0">
            <thead>
            <tr>
              <th class="tcl" scope="col" i18n="@@home.forum">Forum</th>
              <th class="tc2" scope="col" i18n="@@home.topics">Topics</th>
              <th class="tc3" scope="col" i18n="@@home.posts">Posts</th>
              <th class="tcr" scope="col" i18n="@@home.lastPost">Last post</th>
            </tr>
            </thead>
            <tbody>
            @for (subforum of category.subforums; track subforum.id)
            {
            <tr class="rowodd">
              <td class="tcl">
                <div class="intd">
                  <div class="icon"></div>
                  <div class="tclcon">
                    <h3><a routerLink="/viewforum/{{subforum.id}}">{{subforum.name}}</a></h3>
                    <div class="forumdesc" appRouterLinks [innerHTML]="subforum.description_html ?? subforum.description"></div>
                  </div>
                </div>
              </td>
              <td class="tc2">{{subforum.topic_number}}</td>
              <td class="tc3">{{subforum.post_number}}</td>
              <td class="tcr">
                @if (subforum.last_post_topic_id == null) {
                  <span i18n="@@home.noPosts">No posts</span>
                } @else if (subforum.show_last_topic === true) {
                  <a class="lastpost-link" [routerLink]="['/viewtopic', subforum.last_post_topic_id]">{{subforum.last_post_topic_name}}</a>
                } @else {
                  <a class="lastpost-link" [routerLink]="['/viewtopic', subforum.last_post_topic_id]" [queryParams]="{ post_id: subforum.last_post_id }">{{subforum.last_post_topic_name}}</a>
                  <br>
                  <span class="lastpost">
                    <span class="datetime">{{subforum.date_last_post_localized}}</span>
                    -
                    <span class="byuser">{{subforum.last_post_author_name}}</span>
                  </span>
                }
              </td>
            </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }

    <div id="pun-statistics" class="main-item">
      <div class="maintitle">
        <h2><span i18n="@@home.statistics">Board statistics</span></h2>
      </div>
      <div class="main-content">
        <div class="statscon">
          <p><span><ng-container i18n="@@home.totalTopics">Total topics</ng-container>: <strong>{{board().total_topic_number}}</strong></span></p>
          <p><span><ng-container i18n="@@home.totalPosts">Total posts</ng-container>: <strong>{{board().total_post_number}}</strong></span></p>
          <p><span><ng-container i18n="@@home.totalUsers">Total users</ng-container>: <strong>{{board().total_user_number}}</strong></span></p>
          <p><span><ng-container i18n="@@home.newestUser">Newest user</ng-container>:
            <strong>
              @if (board().last_registered_user) {
                <a [routerLink]="['/profile', board().last_registered_user?.id]">{{ board().last_registered_user?.username }}</a>
              }
            </strong>
          </span></p>
        </div>
        <div class="statscon">
          <p><span><ng-container i18n="@@home.totalEpisodes">Total episodes</ng-container>: <strong>{{board().total_episode_number}}</strong></span></p>
          <p><span><ng-container i18n="@@home.totalGamePosts">Total game posts</ng-container>: <strong>{{board().total_episode_post_number}}</strong></span></p>
          <p><span><ng-container i18n="@@home.totalCharacters">Total characters</ng-container>: <strong>{{board().total_character_number}}</strong></span></p>
          </div>
      </div>
    </div>
    <app-currently-active></app-currently-active>
    <div class="main-footer"></div>
  </div>
