<div id="pun-main" class="main">
  <div class="main-header">
    <h1><span i18n="@@nav.register">Register</span></h1>
  </div>

  <div class="main-content">
    <div class="formal">
      @if (errorMessage()) {
        <div class="alert alert-error">{{ errorMessage() }}</div>
      }

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container">
        <fieldset>
          <legend><span i18n="@@register.enterDetails">Enter your details</span></legend>
          <div class="fs-box">
            <p class="inputfield required">
              <label for="username"><ng-container i18n="@@register.username">Username</ng-container> <em i18n="@@topiccreate.required">(Required)</em></label><br />
              <span class="input">
                <input
                  id="username"
                  type="text"
                  formControlName="username"
                  [class.input-error]="isInvalid('username')"
                  size="25"
                  maxlength="25"
                />
              </span>
              @if (isInvalid('username')) {
                <span class="error-msg" i18n="@@register.usernameMin">Username must be at least 3 characters</span>
              }
            </p>

            <p class="inputfield required">
              <label for="password"><ng-container i18n="@@register.password">Password</ng-container> <em i18n="@@topiccreate.required">(Required)</em></label><br />
              <span class="input password-group">
                <input
                  id="password"
                  [type]="showPassword() ? 'text' : 'password'"
                  formControlName="password"
                  size="25"
                />
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                  @if (showPassword()) {
                    <span i18n="@@register.hidePassword">Hide</span>
                  } @else {
                    <span i18n="@@register.showPassword">Show</span>
                  }
                </button>
              </span>
              @if (isInvalid('password')) {
                <span class="error-msg" i18n="@@register.passwordMin">Min 8 characters required</span>
              }
            </p>

            <p class="inputfield required">
              <label for="confirmPassword"><ng-container i18n="@@register.confirmPassword">Confirm Password</ng-container> <em i18n="@@topiccreate.required">(Required)</em></label><br />
              <span class="input password-group">
                <input
                  id="confirmPassword"
                  [type]="showPassword() ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  [class.input-error]="isInvalid('confirmPassword')"
                  size="25"
                />
              </span>
              @if (registerForm.get('confirmPassword')?.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
                <span class="error-msg" i18n="@@register.passwordMismatch">Passwords do not match</span>
              }
            </p>
          </div>
        </fieldset>

        <p class="formsubmit">
          <input type="submit" class="button submit" value="Register" i18n-value="@@nav.register" [disabled]="registerForm.invalid || isLoading()" />
        </p>

        <div class="form-footer" style="text-align: center; margin-top: 10px;">
          <ng-container i18n="@@register.haveAccount">Already have an account?</ng-container>
          &nbsp;<a routerLink="/login" i18n="@@nav.login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
